{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.Meta.Description }}",
    "thumbnailUrl": "{{ "/img/about/vaujany.jpg" | absURL }}",
    "keywords" : [ {{ range $index, $keyword := .Site.Params.Meta.Keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}],
    "license": "{{ .Site.Params.Copyright }}"
}
</script>
{{ else if .IsPage }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $organization :=  .Site.Title }}

{{- /* .Params.image is the front matter for each page, have to get match from what is */ -}}
{{- /* essentially a `ls images/` within this page's bundle */ -}}
{{- /* First, let's check for backward compatibility refs */ -}}
{{ $image_url := "" }}
{{- if and (isset .Params "image") (hasPrefix (.Params.image) "/img") -}}
    {{- $image_url = (absURL .Params.image) -}}
{{ else if (.Resources.ByType "image").GetMatch (printf "%s" .Params.image) }}
    {{ $image_match := (.Resources.ByType "image").GetMatch (.Params.image) }}
    {{ with $image_match }}
        {{ $image_url = $image_match.Permalink }}
    {{ end }}
{{- else -}}
    {{- $image_url = (absURL "img/about/vaujany.jpg" ) -}}
{{ end -}}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "copyrightHolder" : "{{ $organization }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $organization }},
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": {{ $image_url }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
    "keywords" : [ {{ range $index, $keyword := .Params.keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}]
}
</script>
{{ end }}