{{- /* Set up default image */ -}}
{{- $image_url := absURL "about/images/vaujany.jpg" -}}

{{- /* Separate ldjson script for the home page */ -}}
{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.Meta.Description }}",
    "thumbnailUrl": "{{ $image_url }}",
    "keywords" : [ {{ range $index, $keyword := .Site.Params.Meta.Keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}],
    "license": "{{ .Site.Params.Copyright }}",
    "author" : {
        "@type": "Person",
        "name": "{{ .Site.Params.Meta.author }}"
    },
}
</script>
{{- else if .IsPage -}}
{{- if .Params.image -}}
  {{- /* In the case we have defined front matter image content, override the url used */ -}}
  {{- with (.Resources.ByType "image").GetMatch .Params.image -}}
    {{- $image_url = .Permalink -}}
  {{- end -}}
{{- end -}}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.Language.Locale | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ .Site.Params.Meta.author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ .Site.Params.Meta.author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ .Site.Params.Meta.author }}"
    },
    "copyrightHolder" : "{{ .Site.Params.Copyright }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ .Site.Title }},
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": {{ $image_url }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
    "keywords" : [ {{ range $index, $keyword := .Params.keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}]
}
</script>
{{ end }}
