<section>
    <div class="container-fluid">
      <div class="post">
        {{- /* TODO: Modify existing pages to use resources instead of direct URL's here */ -}}
        {{- /* .Params.image is the front matter for each page, have to get match from what is */ -}}
        {{- /* essentially a `ls images/` within this page's bundle */ -}}
        {{- /* First, let's check for backward compatibility refs */ -}}
        {{ $image_url := "" }}
        {{ $image_alt := "" }}
        {{ $image_title := "" }}
        {{- if and (isset .Params "image") (hasPrefix (.Params.image) "/img") -}}
        {{- $image_url = (absURL .Params.image) -}}
        {{- $image_alt = .Params.imagealt }}
        {{- $image_title = .Params.imagetitle }}
        {{ else if (.Resources.ByType "image").GetMatch (printf "%s" .Params.image) }}
        {{ $image_match := (.Resources.ByType "image").GetMatch (.Params.image) }}
        {{ with $image_match }}
        {{ $image_url = $image_match.Permalink }}
        {{- with index $image_match.Params "alt" }}{{ $image_alt = . }}{{ end -}}
        {{- with $image_match.Title }}{{ $image_title = . }}{{ end -}}
        {{ end }}
        {{- else -}}
        {{- /* The (former) about page comes through here - TODO? */ -}}
        {{- /* If no resources or direct img top content is provided, it goes through here */ -}}
        {{ end -}}
        {{ if ne $image_url "" }}
        <img src='{{ $image_url }}' class="img-fluid w-100" alt='{{ $image_alt }}' title='{{ $image_title }}' class='post_thumbnail'>
        {{ end }}
            <div class="post-content">
                <div class="post-date">
                <span>{{ .PublishDate.Format "02" }}</span>
                <span>{{ .PublishDate.Format "Jan" }}</span>
                </div>
                <h2 class="post-title">{{ .Title }}</h2>
                {{ partial "mainimagetaglinks" . }}
            </div>
        </div>
    </div>
</section>