<section>
    <div class="container">
      <div class="post">
        {{ $image := "" }}
        {{- $sizes := (slice  "360" "480" "800" "1200" ) -}}
        {{ if (.Resources.ByType "image").GetMatch (.Params.image) }}
          {{ $image = (.Resources.ByType "image").GetMatch (.Params.image)}}
          {{- $altText := printf "%s %s %s" .Page.Title .Page.Type .Page.Summary -}}
          {{- with $image.Params -}}
            {{- with index $image.Params "alt" }}{{ $altText = . }}{{ end -}}
          {{- end -}}
          <img srcset='
          {{- range $sizes }}
            {{- ($image.Resize (printf "%sx" .)).RelPermalink }} {{ (printf "%sw" .) }},
          {{ end -}}'
          src='{{ $image.Permalink }}' class="img-fluid w-100" alt='{{ $altText }}' title='{{ $image.Title }}' class='post_thumbnail'>
          <div class="post-content">
              <div class="post-date">
                  <span>{{ .PublishDate.Format "02" }}</span>
                  <span>{{ .PublishDate.Format "Jan" }}</span>
              </div>
              <h2 class="post-title">{{ .Title }}</h2>
                {{ partial "mainimagetaglinks" . }}
          </div>
      </div>
        {{ end }}
    </div>
</section>