<!-- copied over from the theme's partials directory -->

<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172930899-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172930899-1');
</script>

<meta charset="utf-8">

<!-- My (meta) partials inserted here -->
{{ partial "title.html" . }}
{{ partial "keywords.html" . }}
{{ partial "author.html" . }}
{{ partial "ldjson.html" . }}
<!-- END of my partials -->

<!-- Additional adds -->
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="HandheldFriendly" content="True" />
<meta name="apple-mobile-web-app-title" content="{{ .Title }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />
<!-- END of additional adds -->

<meta name="viewport" content="width=device-width, initial-scale=1">

{{ if .Site.Params.meta.favicon }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon/favicon-32x32.png" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon/favicon-16x16.png" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
  <link rel="manifest" href="{{ "favicon/site.webmanifest" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
  {{ if .Site.Params.meta.svg }}
    <link rel="mask-icon" href="{{ "favicon/safari-pinned-tab.svg" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}" color="{{ .Site.Params.meta.msColor }}">
    <link rel="shortcut icon" href="{{ "favicon/favicon.ico" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
    <meta name="msapplication-config" content="{{ "favicon/browserconfig.xml" | relURL}}{{ with .Site.Params.meta.faviconVersion }}?v={{ . }}{{ end }}">
  {{ end }}
  <meta name="msapplication-TileColor" content="{{ .Site.Params.meta.msColor }}">
  <meta name="theme-color" content="{{ .Site.Params.meta.iOSColor }}">
{{ end }}
