{{- /* Related Posts Section */ -}}
{{- "<!-- Related Posts Section -->" | safeHTML }}
{{ $related := (where site.RegularPages "Section" "blog") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
{{ if $related }}
<section class="section pt-0" style="padding-bottom: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mb-4 text-center">
        <hr class="mt-2 mb-4" style="width: 70%"/>
        <h2 class="mb-2">Other Posts You May Be Interested In</h2>
      </div>
    </div>
    <div class="row">
      {{ $both := first 2 $related }}
      {{ $left := index (first 1 $both) 0 }}
      {{ $left_image_url := "" }}
      {{ $right := index (last 1 $both) 0 }}
      {{ $right_image_url := "" }}
      {{ if ($left.Resources.ByType "image").GetMatch ($left.Params.image) }}
        {{ $left_image_match := ($left.Resources.ByType "image").GetMatch ($left.Params.image) }}
        {{ $left_image_url := "" }}
        {{ with $left_image_match }}
          {{ $left_image_url = $left_image_match.Permalink }}
        {{ end }}
        {{- /* Print LEFT image */ -}}
        <div class="col-md-6 mb-4">
          <div class="post post-sm float-left">
            <img src="{{ $left_image_url }}" class="img-fluid w-100" alt="{{ $left.Title }}">
            <div class="post-content">
              <div class="post-date">
                <span>{{ .PublishDate.Format "02" }}</span>
                <span>{{ .PublishDate.Format "Jan" }}</span>
              </div>
              <h2 class="post-title"><a href="{{ $left.Permalink }}">{{ $left.Title }}</a></h2>
              {{ partial "mainimagetaglinks" $left }}
            </div>
          </div>
        </div>
      {{ end }}
      {{ if ($right.Resources.ByType "image").GetMatch ($right.Params.image) }}
        {{ $right_image_match := ($right.Resources.ByType "image").GetMatch ($right.Params.image) }}
        {{ $right_image_url := "" }}
        {{ with $right_image_match }}
          {{ $right_image_url = $right_image_match.Permalink }}
        {{ end }}
        {{- /* Print RIGHT image */ -}}
        <div class="col-md-6 mb-4">
          <div class="post post-sm float-right">
            <img src="{{ $right_image_url }}" class="img-fluid w-100" alt="{{ $right.Title }}">
            <div class="post-content">
              <div class="post-date">
                <span>{{ .PublishDate.Format "02" }}</span>
                <span>{{ .PublishDate.Format "Jan" }}</span>
              </div>
              <h2 class="post-title"><a href="{{ $right.Permalink }}">{{ $right.Title }}</a></h2>
              {{ partial "mainimagetaglinks" $right }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
<div class="col-md-12 mb-4 text-center">
  <hr class="mt-2 mb-4" style="width: 70%"/>
</div>
{{ end }}