<div class="container">
    <div class="gallery">
        <figure class="gallery__item gallery__item--1 gallery__item--clear-margins">
            <img src='{{.Get "img1src"}}' alt='{{.Get "img1alt"}}' title='{{.Get "img1title"}}' class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--2 gallery__item--clear-margins">
            <img src='{{.Get "img2src"}}' alt='{{.Get "img2alt"}}' title='{{.Get "img2title"}}' class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--3 gallery__item--clear-margins">
            <img src='{{.Get "img3src"}}' alt='{{.Get "img3alt"}}' title='{{.Get "img3title"}}' class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--4 gallery__item--clear-margins">
            <img src='{{.Get "img4src"}}' alt='{{.Get "img4alt"}}' title='{{.Get "img4title"}}' class="gallery__img">
        </figure>
    </div>
</div>