<!-- <p style='text-align:center;'>
    <iframe frameborder="0" style="min-height: 525px; min-width: 250px; width: 554px; max-width: 100%;" src="https://strava-embeds.com/activity/7280827377#ns=bf279ad2-39e7-4034-a590-426785c9babd&amp;hostOrigin=http%3A%2F%2Flocalhost%3A1313&amp;hostPath=%2Fblog%2F2022%2F07%2Fcycling-the-dalmatian-coast%2F&amp;hostTitle=Cycling+the+Dalmatian+Coast+%7C+Bicycle+Water+Cooler">
    </iframe>
</p> -->

    <!-- <div class='strava-embed-placeholder' data-embed-type='activity' data-embed-id='{{ .Get "id" -}}'> -->
    <div style="text-align: center;">
        <iframe loading="lazy" src="https://strava-embeds.com/activity/7280827377"></iframe>
        <!-- <script src='https://strava-embeds.com/embed.js'></script> -->
    </div>
    
<!-- width: 554px; min-width: 250px; max-width: 100%; height: 722px; text-align: center; -->

<!-- cc5fbc2fc41a9e2d0cc3bc275b4280c5a2cd8509 -->

<!-- 
        "refresh_token": "701f6b13d621ab5837fe58bdffe4a09b29186db6",
    "access_token": "d73e83fe37da3956b4b2ca2ba8d9cbe07af27224",
-->